@using SocialMedia.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/style/instagram")
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">

@{
    if (ViewBag.Error != null)
    {
        <h5 class="text-danger">Lỗi server: @ViewBag.Error</h5>
    }
    else
    {

        var media = (List<InstagramMedia>)ViewBag.Media;
        <div class="body_ins">
            <header>
                <div class="container">
                    <div class="profile">

                        <div class="profile-image">

                            <img width="200" height="200" src="@ViewBag.Data.profile_picture_url" alt="">

                        </div>

                        <div class="profile-user-settings">

                            <h1 class="profile-user-name">@ViewBag.Data.username</h1>

                            <button  class="btn profile-edit-btn">Tạo bài viết</button>



                        </div>

                        <div class="profile-stats">

                            <ul>
                                <li><span class="profile-stat-count">@ViewBag.Data.media_count</span> Media</li>
                                <li><span class="profile-stat-count">@ViewBag.Data.followers_count</span> Theo dõi</li>
                                <li><span class="profile-stat-count">@ViewBag.Data.follows_count</span> Đang theo dõi</li>
                            </ul>

                        </div>

                        <div class="profile-bio">

                            <p><span class="profile-real-name">@ViewBag.Data.biography</span></p>

                        </div>

                    </div>
                    <!-- End of profile section -->
                </div>

                <!-- End of container -->

            </header>

            <main>

                <div class="container">
                    <div class="gallery">

                        @foreach (var item in media)
                        {

                            if (item.media_type == "VIDEO")
                            {
                                <div class="gallery-item" onclick="window.location.href='/instagram/media?id=@item.id'" tabindex="0">
                                    <video id="video_@item.id" controls  class="gallery-image" alt="">
                                        <source src="@item.media_url">
                                    </video>
                                        <div onmouseover="handleAutoPlay(video_@item.id);" onmouseout="handlePasue(video_@item.id);" class="gallery-item-info">
                                            <ul>
                                                <li class="gallery-item-likes"><span class="visually-hidden">Likes: </span><i class="fas fa-heart" aria-hidden="true"></i> @item.like_count</li>
                                                <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i>  @item.comments_count</li>
                                            </ul>

                                        </div>
                                </div>
                            
                            }

                            if (item.media_type == "IMAGE")
                            {
                          
                            <div class="gallery-item" onclick="window.location.href='/instagram/media?id=@item.id'" tabindex="0">
                                <img src="@item.media_url" class="gallery-image" alt="">
                                <div class="gallery-item-info">

                                    <ul>
                                        <li class="gallery-item-likes"><span class="visually-hidden">Likes: </span><i class="fas fa-heart" aria-hidden="true"></i> @item.like_count</li>
                                        <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i>  @item.comments_count</li>
                                        
                                    </ul>

                                </div>
                            </div>

                            }


                        }

                    </div>
                     <!-- End of gallery -->

                     @*<div class="loader"></div>*@

                 </div>
                <!-- End of container -->

            </main>
        </div>



    }
}


<script>
  

    function handleAutoPlay(el) {
        el.play();
    }
    function handlePasue(el) {
        el.pause();
    }
</script>